# Virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env
.env.*

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.temp